@"
node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.vscode
.idea
Dockerfile
docker-compose.yml
.vagrant
*.md
Vagrantfile
infrastructure/
docs/
"@ | Out-File -FilePath .dockerignore -Encoding ASCII